[submodule "runahead-prefetch"]
	path = runahead-prefetch
	url = https://github.com/acshulyak/runahead-prefetch.git
[submodule "trace_gen"]
	path = trace_gen
	url = git@github.com:acshulyak/trace_gen.git
[submodule "TPC-H_on_hive_analysis"]
	path = TPC-H_on_hive_analysis
	url = https://github.com/acshulyak/TPC-H_on_hive_analysis.git
[submodule "mysql_tpch"]
	path = mysql_tpch
	url = https://github.com/acshulyak/mysql_tpch.git
